flows.json
[{"id":"61068564.46135c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"28534629.6ea55a","type":"mqtt in","z":"61068564.46135c","name":"","topic":"thkoeln/IoT/mqtt/temperature","qos":"0","datatype":"auto","broker":"845e87b7.fb8c68","x":160,"y":80,"wires":[["ea34994f.aacfd8","aeff1437.8a49f8"]]},{"id":"ea34994f.aacfd8","type":"debug","z":"61068564.46135c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":480,"y":40,"wires":[]},{"id":"9c3048bd.13bd58","type":"mqtt in","z":"61068564.46135c","name":"","topic":"thkoeln/IoT/mqtt/humidity","qos":"0","datatype":"auto","broker":"845e87b7.fb8c68","x":810,"y":80,"wires":[["2953a2bf.853d2e","878e2600.be18b8"]]},{"id":"2953a2bf.853d2e","type":"debug","z":"61068564.46135c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1140,"y":40,"wires":[]},{"id":"aeff1437.8a49f8","type":"ui_gauge","z":"61068564.46135c","name":"","group":"7932c9df.11bcf8","order":1,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"42","x":500,"y":120,"wires":[]},{"id":"878e2600.be18b8","type":"ui_gauge","z":"61068564.46135c","name":"","group":"7932c9df.11bcf8","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Humidity","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"130","x":1150,"y":120,"wires":[]},{"id":"22a4be18.888cb2","type":"mqtt in","z":"61068564.46135c","name":"","topic":"thkoeln/IoT/mqtt/wifi","qos":"0","datatype":"auto","broker":"845e87b7.fb8c68","x":130,"y":220,"wires":[["eba6dad5.9d79c8","a3c6b40e.353648"]]},{"id":"a3c6b40e.353648","type":"ui_text","z":"61068564.46135c","group":"291909a5.23e556","order":5,"width":0,"height":0,"name":"","label":"Complete Network Information","format":"{{msg.payload}}","layout":"col-center","x":530,"y":260,"wires":[]},{"id":"eba6dad5.9d79c8","type":"debug","z":"61068564.46135c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":480,"y":180,"wires":[]},{"id":"8b398dd9.3798d","type":"mqtt in","z":"61068564.46135c","name":"","topic":"thkoeln/IoT/mqtt/mobile","qos":"0","datatype":"auto","broker":"845e87b7.fb8c68","x":140,"y":500,"wires":[["6f8e2332.e497ac","7d9dc74a.654a78"]]},{"id":"7d9dc74a.654a78","type":"ui_text","z":"61068564.46135c","group":"f6d8ba70.c8d2d8","order":5,"width":0,"height":0,"name":"","label":"Complete Network Information","format":"{{msg.payload}}","layout":"col-center","x":530,"y":540,"wires":[]},{"id":"6f8e2332.e497ac","type":"debug","z":"61068564.46135c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":480,"y":460,"wires":[]},{"id":"791fbfbd.d4c5e","type":"mqtt in","z":"61068564.46135c","name":"","topic":"thkoeln/IoT/mqtt/latitude","qos":"0","datatype":"auto","broker":"845e87b7.fb8c68","x":140,"y":800,"wires":[["2bb380af.ddbf3","528b852.b91957c","c8d32549.10f628"]]},{"id":"528b852.b91957c","type":"debug","z":"61068564.46135c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":480,"y":760,"wires":[]},{"id":"2bb380af.ddbf3","type":"ui_text","z":"61068564.46135c","group":"a230523c.c042","order":1,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload}}","layout":"col-center","x":460,"y":840,"wires":[]},{"id":"4dd9d526.8a14cc","type":"mqtt in","z":"61068564.46135c","name":"","topic":"thkoeln/IoT/mqtt/longitude","qos":"0","datatype":"auto","broker":"845e87b7.fb8c68","x":810,"y":800,"wires":[["b3734053.1b73b","d7cdab34.3327d8","41f7a0f0.8878c"]]},{"id":"d7cdab34.3327d8","type":"debug","z":"61068564.46135c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1140,"y":760,"wires":[]},{"id":"b3734053.1b73b","type":"ui_text","z":"61068564.46135c","group":"a230523c.c042","order":2,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload}}","layout":"col-center","x":1120,"y":840,"wires":[]},{"id":"f0553ea6.fc5bb","type":"mqtt in","z":"61068564.46135c","name":"","topic":"thkoeln/IoT/mqtt/wifiType","qos":"0","datatype":"auto","broker":"845e87b7.fb8c68","x":810,"y":220,"wires":[["361bc458.d85dfc","ea49cb2b.069db8"]]},{"id":"ea49cb2b.069db8","type":"ui_text","z":"61068564.46135c","group":"291909a5.23e556","order":1,"width":0,"height":0,"name":"","label":"Network Type","format":"{{msg.payload}}","layout":"col-center","x":1140,"y":260,"wires":[]},{"id":"361bc458.d85dfc","type":"debug","z":"61068564.46135c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1140,"y":180,"wires":[]},{"id":"95f1a381.a5228","type":"mqtt in","z":"61068564.46135c","name":"","topic":"thkoeln/IoT/mqtt/wifiState","qos":"0","datatype":"auto","broker":"845e87b7.fb8c68","x":150,"y":360,"wires":[["e193e55f.cdb9b8","dbb5c71b.d9b998"]]},{"id":"dbb5c71b.d9b998","type":"ui_text","z":"61068564.46135c","group":"291909a5.23e556","order":2,"width":0,"height":0,"name":"","label":"Network State","format":"{{msg.payload}}","layout":"col-center","x":480,"y":400,"wires":[]},{"id":"e193e55f.cdb9b8","type":"debug","z":"61068564.46135c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":480,"y":320,"wires":[]},{"id":"31806071.b5aa2","type":"mqtt in","z":"61068564.46135c","name":"","topic":"thkoeln/IoT/mqtt/MobileType","qos":"0","datatype":"auto","broker":"845e87b7.fb8c68","x":820,"y":500,"wires":[["7afc6afc.3ccc64","36a7ed7a.fcab62"]]},{"id":"36a7ed7a.fcab62","type":"ui_text","z":"61068564.46135c","group":"f6d8ba70.c8d2d8","order":1,"width":0,"height":0,"name":"","label":"Network Type","format":"{{msg.payload}}","layout":"col-center","x":1140,"y":540,"wires":[]},{"id":"7afc6afc.3ccc64","type":"debug","z":"61068564.46135c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1140,"y":460,"wires":[]},{"id":"43952ff8.bb23d","type":"mqtt in","z":"61068564.46135c","name":"","topic":"thkoeln/IoT/mqtt/MobileState","qos":"0","datatype":"auto","broker":"845e87b7.fb8c68","x":160,"y":640,"wires":[["6c1f864b.fd0a88","a3e1862.5e77a78"]]},{"id":"a3e1862.5e77a78","type":"ui_text","z":"61068564.46135c","group":"f6d8ba70.c8d2d8","order":2,"width":0,"height":0,"name":"","label":"Network State","format":"{{msg.payload}}","layout":"col-center","x":480,"y":680,"wires":[]},{"id":"6c1f864b.fd0a88","type":"debug","z":"61068564.46135c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":480,"y":600,"wires":[]},{"id":"a1347ab5.a5e578","type":"ui_worldmap","z":"61068564.46135c","group":"a230523c.c042","order":3,"width":"0","height":"0","name":"","lat":"50.809928633333335","lon":"7.73619470000000002","zoom":"10","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"true","path":"/worldmap","x":920,"y":1000,"wires":[]},{"id":"c8d32549.10f628","type":"change","z":"61068564.46135c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"payload","fromt":"msg","to":"payload.lat","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":980,"wires":[["a1347ab5.a5e578"]]},{"id":"41f7a0f0.8878c","type":"change","z":"61068564.46135c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"payload","fromt":"msg","to":"payload.lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1060,"wires":[["a1347ab5.a5e578"]]},{"id":"845e87b7.fb8c68","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7932c9df.11bcf8","type":"ui_group","z":"","name":"Climate Data","tab":"aa1e0bd.87a36f8","order":1,"disp":true,"width":"8","collapse":false},{"id":"291909a5.23e556","type":"ui_group","z":"","name":"Local Network","tab":"aa1e0bd.87a36f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"f6d8ba70.c8d2d8","type":"ui_group","z":"","name":"Mobile Network","tab":"aa1e0bd.87a36f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a230523c.c042","type":"ui_group","z":"","name":"GPS Detection","tab":"aa1e0bd.87a36f8","order":4,"disp":true,"width":"10","collapse":false},{"id":"aa1e0bd.87a36f8","type":"ui_tab","z":"","name":"PWM GmbH & Co. KG - Netzwerk-Analysebox","icon":"dashboard","order":2,"disabled":false,"hidden":false}]